/*导航条*/
#nav-blog .navbar-nav li{
	margin-right: 15px;
}
#nav-blog .navbar-nav li a:hover{
	color: pink;
}
#nav-blog .navbar-nav .active a{
	background-color: transparent;
}
#nav-blog{
	background-color: #2CD8C1;
	border-color: #2CD8C1;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #2CD8C1;
}
/*left区-----*/
/*轮播图*/
#con-left img{
	width: 100%;
	height: 100%;
}

/*内容区*/
.con-con{
	margin-top: 20px;
}
.con-con .panel-heading{
	border-style: none;
	background-color: transparent;
	padding-left: 0px;
}
.con-con .panel-heading .panel-title{
	border-left: 2px solid #f65a8a;
	padding-left: 15px;
}
.con-con .panel-heading .panel-title a:hover{
	color: #f65a8a;
}
.con-con .panel-footer{
	border-style: none;
	background-color: transparent;
}
.con-con .panel-ft-text{
	margin-right: 15px;
	color: gray;
}

/*right区-----*/
#con-right .thumbnail{
	border: none;
	padding: 0px;
}
#con-right .thumbnail img{
	height: 183px;
	width: 100%;
}
#con-right .thumbnail img:hover{
	box-shadow: 0px 4px 4px 2px gray;
}
#con-right .media img{
	width: 100px;
	height: 100px;
}
#con-right .pai-hang ul{
	padding-left: 0px;
}
#con-right .pai-hang li{
	/*省略号  显示隐藏  不换行*/
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    padding: 8px 0;
}
#con-right .pai-hang a:hover{
	color: #f65a8a;
}
#con-right .erweima .erwei{
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
}
#con-right .erweima .sanlian{
	width: 100%;
	height: 100%;
}