<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>列表渲染</title>
</head>
<body>
	<table id="app">
		<tr>
			<th>name</th>
			<th>age</th>
			<th>score</th>
			<th>grade</th>
		</tr>
		<!-- 使用 in 和 of 都行 -->
		<tr v-for="student in students">
			<td>{{student.name}}</td>
			<td>{{student.age}}</td>
			<td>{{student.score}}</td>
			<td v-if="student.score>=90">优秀</td>
			<td v-else-if="student.score>=80">良好</td>
			<td v-else-if="student.score>=60">及格</td>
			<td v-else>不及格</td>
		</tr>
	</table>
</body>
<script src="js/vue.js"></script>
<script>
	var vm = new Vue({  
		el:'#app',
		data:{
			students:[
				{name:"echo",age:12,score:87},
				{name:"tom",age:19,score:99},
				{name:"leo",age:20,score:55},
			]
		}
	})
</script>
</html>