.result{
	min-height: 300px;
	background-color: #999;
	padding-top: 100px;
	text-align: center;
}
.result .title{
	font-size: 30px;
	margin-bottom: 10px;
	color: #fff;
}
.result .btns .btn{
	width: 90px;
	margin: 5px 10px;
}
.result-box{
	display: none;
}
.addCart .btn{
	width: 110px;
}